.pagination {
  margin-top: 20px;
  padding: 13px 10px 10px;
  background-color: $colorPrimary;
  border-radius: $borderRadius;

  &__item {
    padding: 5px;
    font-size: 26px;
    color: white;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 20px;
    }

    &:hover {
      color: $colorAccent;
      border-bottom: 1px solid $colorAccent;
    }

    &.current {
      color: $colorAccent;
      border-bottom: 1px solid $colorAccent;
    }
  }
}