.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 13px 10px 10px;
  background-color: $colorPrimary;
  border-radius: $borderRadius;

  .btn-pagination {
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    font-size: 24px;

    &:hover {
      color: $colorAccent;
      border-color: $colorAccent;

      .arrow {
        border-color: $colorAccent;
      }
    }

    &.disabled {
      color: #676666;

      .arrow {
        border-color: #676666;
      }
    }
  }
}

