.flex {
  display: flex;
  display: -webkit-flex;
}

.flex-row {
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

.flex-row-revers {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

.flex-column-revers {
  flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}

.jc-start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
}

.jc-center {
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
}

.jc-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
}

.ai-start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
}

.ai-center {
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}
.ai-stretch {
  align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
}

.ai-baseline {
  align-items: baseline;
  -webkit-align-items: baseline;
  -ms-align-items: baseline;
}

.ac-start {
  align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
}

.ac-end {
  align-content: flex-end;
  -webkit-align-content: flex-end;
  -ms-align-content: flex-end;
}

.ac-center {
  align-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;
}

.ac-stretch {
  align-content: stretch;
  -webkit-align-content: stretch;
  -ms-align-content: stretch;
}

.ac-between {
  align-content: space-between;
  -ms-align-content: space-between;
  -webkit-align-content: space-between;
}

.ac-around {
  align-content: space-around;
  -webkit-align-content: space-around;
  -ms-align-content: space-around;
}
