.navbar {
  display: flex;
  align-items: center;
  padding: 10px 0;
  background-color: $colorPrimary;
  height: 10vh;
}

.navbar__navigation {
  a {
    margin-right: 10px;
    padding: 10px 10px;
    color: #CECECE;
    font-size: 24px;
    font-weight: 300;
    border-bottom: 1px solid transparent;
    letter-spacing: 4px;
    text-transform: uppercase;

    &:hover {
      border-color: white;
      transition: .25s ease-in;
    }

    &:not(:last-of-type) {

    }
  }

  .active {
    border-color: $colorAccent;
  }
}

.brand__logo {
  img {
    width: 100px;
    height: 50px;
  }
}