.hero__title {
  margin-bottom: 60px;
  font-size: 72px;
  text-transform: uppercase;
}

.short-description {

  p {
    padding-bottom: 28px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #AEAEAE;
  }
}